@import url('https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css');

@media all {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1em;
  }

  /* deactivate external manual page cross-references */
  a.md2man-reference:not([href]) {
    color: inherit;
    text-decoration: none;
  }
}

@media screen {
  body {
    font-family: monospace;
    text-align: justify;
    max-width: 83ch; /* 80 chars, +3 for Bootstrap CSS */
    margin: auto;
  }

  h1:first-child {
    margin-top: -5em;
    font-weight: normal;
    font-size: smaller;
    text-align: center;
  }

  h1:first-child > span.md2man-source {
    float: right;
  }

  h1:first-child > span.md2man-title,
  h1:first-child > span.md2man-section,
  h1:first-child > span.md2man-manual,
  h1:first-child > a.md2man-permalink {
    display: none;
  }

  a.md2man-permalink {
    float: left;
    margin-left: -1em;
    opacity: 0.25;
    font-size: xx-large;
  }

  a.md2man-permalink:before {
    content: '\2605'; /* &starf; */
  }

  a.md2man-permalink:hover,
  *:target > a.md2man-permalink {
    opacity: inherit;
  }

  *:target > a.md2man-permalink {
    color: red;
  }
}

@media print {
  .navbar:first-child {
    display: none;
  }

  /* improve readability of revealed hyperlink URLs */
  a:after {
    font-family: monospace;
  }

  /* internal links and manual page cross-references */
  a[href^='#'], a[href^='../man'] {
    color: inherit;
    font-weight: bolder;
    text-decoration: none;
  }

  /* undo bootstrap's revealing of those hyperlinks */
  a[href^='#']:after, a[href^='../man']:after {
    content: none;
  }
}
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .ge {
  color: #000000;
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  color: #000000;
  font-weight: bold;
}
.highlight .kd {
  color: #000000;
  font-weight: bold;
}
.highlight .kn {
  color: #000000;
  font-weight: bold;
}
.highlight .kp {
  color: #000000;
  font-weight: bold;
}
.highlight .kr {
  color: #000000;
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .k, .highlight .kv {
  color: #000000;
  font-weight: bold;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .il {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #009999;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .s, .highlight .sa, .highlight .dl {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .bp {
  color: #999999;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
.highlight .nf, .highlight .fm {
  color: #990000;
  font-weight: bold;
}
.highlight .nl {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .nv, .highlight .vm {
  color: #008080;
}
.highlight .ow {
  color: #000000;
  font-weight: bold;
}
.highlight .o {
  color: #000000;
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight {
  background-color: #f8f8f8;
}